.cardComp {
        /* background-image: url("../images/negrodegrade.jpg"); */
        /* background-image:url("../images/negro.jpg"); */
        background-image: repeating-linear-gradient(90deg,black,black 20px,rgba(0, 0, 0, 0.897) 20px,rgba(0, 0, 0, 0.897) 40px);
        /* background-color:black; */
        background-position: absolute;
        display: grid;
        grid-gap: wrap;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(4,auto);
        width: 18.75rem;
        height: 25rem;
        box-shadow: 0.375rem 0.375rem 0.375rem white;


}

.imgcard {
    position:relative;
    float:left;
    width:18.75rem;
    height:14.375rem;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

a{
    text-decoration: none;
}

.imgcard {
    font-size:150%;
    font-family: 'Helvetica Neue' ;
    color:white;
    margin-bottom: 1.875rem;
    vertical-align: bottom;

}

h3{
    color:white;
}