form {
    background-image: url('../images/negrodegrade.jpg');
    margin-left: 0rem;
    margin-right: 0rem;
    color: white;
    font-size: 1.5625rem;
    font-family: 'Helvetica Neue';
    margin-top: 0.5%;
    flex-direction: wrap;
    display: wrap;
    height: 100%;
    width: 100%;
}

.comp {
    margin-top: 10%;
    width: 100%;
    height: 100%;
}

label {
    padding: 1%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    display: inline-block;
}

button.btnCreate {
    font-size: 1.125rem;
    bottom: 3.125rem;
    padding: 0.3125rem;
    display: inline-block;
    justify-content: center;
    margin-top: 0.7rem;
    margin-bottom: 0.7125rem;
}
