.cardDetails {

    border-radius: 1rem;
    background-color:#cecbc669;
    background-position: absolute;
    background: cover;
    box-shadow: 9px 9px 9px rgb(230, 206, 73);
    color: rgb(8, 8, 8);
    display: inline-block;
    margin: 10%;
    padding: 2em;
    vertical-align: center;
    width: 30, 5%;
    height: 30, 5%;
}  


.cardDetails img {
    display: flex;
    margin-left: 30%;
    width: 35%;
    height: 60%;
    justify-content: center;
    border-radius: 1rem;
    box-shadow: 9px 9px 9px rgb(230, 206, 73);
}

.cardDetails h1:hover{
    text-decoration: underline darkslategrey;
    color: rgb(69, 70, 63);
    text-shadow: rgb(223, 208, 124) -0.5px 0.5px;
}

.cardDetails h2:hover{
    text-decoration: underline darkslategrey;
    color: rgb(69, 70, 63);
    text-shadow: rgb(223, 208, 124) -0.5px 0.5px;
}

.cardDetails img:hover{
    text-decoration: underline darkslategrey;
    color: rgb(69, 70, 63);
    text-shadow: rgb(223, 208, 124) -0.5px 0.5px;
} 

