.cardDetails {
    display: grid;
    /* grid-gap: wrap; */
    grid-gap:0.9375rem;
    width: 80%;
    justify-content:center;
    text-align: center;
    margin-left: 10.5rem;
    margin-right: 10.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    
}

h1{
    font-family: 'Helvetica Neune';
    /* color:#9EF5CD; */
    color:white;
}

h2{
    font-family: 'Helvetica Neune';
    color: white;
    margin-left: 12.5rem;
    margin-right: 12.5rem;
}

.cardDetails img{
    padding: 1rem;
    width: 50%;
    height: 50vh;
    margin-left: 24.5rem;
    box-shadow: 0.375rem 0.375rem 0.375rem white;

}

.description p{
    color: white;
}




