body{
        background-image: url("../images/bkgHome.jpg");
        background-size: cover;
        background-attachment: fixed;
        text-align: center;
}

/* .btnCreate:hover {
        background-color: #572c03ab;
        color: rgb(211, 194, 102);
        position: absolute;
        }  */

.linkCreate {
        text-decoration: none;
        font-size: 60px;
        display: block;
        text-align: center;
        } 

.btnPag {
        margin-bottom: 20px;
        }

.btnPag button {
        background-color: rgb(121, 123, 126);
        border-color: rgb(197, 177, 65);
        }

.btnPag button:hover {
        color: rgb(46, 43, 24);
        background-color: rgb(197, 183, 104);
        }

.cards {
        margin-left: 7%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        margin-bottom: 60px;
        }

.linkCard {
        text-decoration: none;
        }

.text  {
        font-size: 60px;
        text-align: center;
}

.card {
        display: flex;
        flex-wrap: wrap;
        grid-gap:15px;
        width: 70%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
}

.button {
        position: relative;
        bottom: 30 px;
        right: -1050;
        background-color: rgb(121, 123, 126);
        border-color: rgb(197, 177, 65);
        }

.btnCreate:hover{
        text-align: center;
        background-color: rgb(121, 123, 126);
        border-color: rgb(197, 177, 65);
        color: rgb(197, 183, 104);
} 


.button:hover {
        background-color: rgb(197, 183, 104);
        color: rgb(46, 43, 24);
        } 
