body{
        /* background-image: url("../images/bkgCreate.jpg"); */
        background-size: cover;
        background-attachment: fixed;
        text-align: center;
        /* background-image: url("../images/bkgMadera.jpg"); */
        background-color: black;
}

.linkCreate {
        text-decoration: none;
        font-size: 60px;
        display: block;
        text-align: center;
        } 

.btnPag {
        margin-bottom: 20px;
        }

.btnPag button {
        background-color: rgb(121, 123, 126);
        border-color: rgb(197, 177, 65);
        }

.btnPag button:hover {
        color: rgb(46, 43, 24);
        background-color: rgb(197, 183, 104);
        }

.cards {
        margin-left: 7%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        margin-bottom: 60px;
        }

.linkCard {
        text-decoration: none;
        }

.text   {
        border-radius:10px;
        font-size: 100px;
        text-align: center;
        background-color: rgb(121, 123, 126); 
        border-color: rgb(197,177,65);
        color: rgb(197, 183, 104);
        box-shadow:6px 6px 6px rgb(223, 208, 124);
}

.card {
        display: flex;
        flex-wrap: wrap;
        grid-gap:15px;
        width: 70%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
}

.button {
        padding: 0.5%;
        position: relative;
        bottom: 30 px;
        right: -1050;
        background-color: rgb(121, 123, 126);
        border-color: rgb(197, 177, 65);
        box-shadow:6px 6px 6px rgb(223, 208, 124);
        }

.btnCreate:hover{
        text-align: center;
        background-color: rgb(121, 123, 126);
        border-color: rgb(197, 177, 65);
        color: rgb(197, 183, 104);
        box-shadow:6px 6px 6px rgb(223, 208, 124);
} 


.button:hover {
        background-color: rgb(197, 183, 104);
        color: rgb(46, 43, 24);
        box-shadow:6px 6px 6px rgb(223, 208, 124);
        } 

.btnCreate{
        padding:0.5%;
        background-color: rgb(121, 123, 125);
        color: rgb(197, 183, 104);
        box-shadow:6px 6px 6px rgb(223, 208, 124);
}

.style {
        padding:1%;

}