    .Container {
        height: 100vh;
        width: 100%;
        object-fit: contain;
        box-shadow:0 0 0 62.5rem (0,0,0,0.6);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* background-image: url("https://c.tenor.com/4WCY6zdu3KAAAAAM/grocery-eat-you.gif"); */
        /* background-image: url("https://media1.giphy.com/media/7WDpgeYllwXWCTn0I8/source.gif"); */
        background-size: cover;
        background-repeat: no-repeat;
        font-size: 2em;
        font-family: "Helvetica Neue";
    }
    
    .Container .logo{
        width: 100%;
        height: 50vh;
        animation-duration: 0s;
        animation-name: logo;
        animation-iteration-count: infinite;
    }


    
    @keyframes logo{
        50%{
            width: 100%;
            height: 100vh;
        }
        50%{
            width: 100%;
            height: 100vh;
        }
    }

