.inputstyle{
    padding:1%;
    
}


input{
    border: ridge;
    padding: 0.4%;
    position: relative;
    bottom: 30 px;
    right: -1050;
    background-color: rgb(121, 123, 126);
    border-color: rgb(197, 177, 65);
    box-shadow:6px 6px 6px rgb(223, 208, 124);
    font-size: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow: 3px 2px 1px rgb(197, 177, 65);
    border-radius: 3px;
    }

input:hover{
    background-image: linear-gradient(to bottom, rgb(119, 119, 119), #121313);
    font-weight:bold;
    
    }

button.btnSearch{
        padding:0.5%;
        background-color: rgb(121, 123, 125);
        color: rgb(197, 183, 104);
        box-shadow:6px 6px 6px rgb(223, 208, 124);

}

button.btnSearch:hover{
    text-align: center;
    background-color: rgb(121, 123, 126);
    border-color: rgb(197, 177, 65);
    color: rgb(197, 183, 104);
    box-shadow:6px 6px 6px rgb(223, 208, 124);
    }

button.btnSearch {
        position: relative;
        bottom: 30 px;
        right: -1050;
        background-color: rgb(121, 123, 126);
        border-color: rgb(197, 177, 65);
        box-shadow:6px 6px 6px rgb(223, 208, 124);
        }





